@using TheFipster.Minecraft.Core.Domain
@model IEnumerable<IPlayer>

<div class="card border-secondary">
    <div class="card-header">
        <h2>Whitelist</h2>
    </div>
    <div class="card-body">
        <ul class="list-group">
            @foreach (var player in Model.OrderBy(x => x.Name))
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>@player.Name</span>
                    @await Html.PartialAsync("_PlayerAvatarSmall", player.Id)
                </li>
            }
        </ul>
    </div>
</div>
