@model ServerIndexViewModel
@{
    ViewData["Title"] = "Server";
}

<div class="jumbotron text-center">

    <img class="rounded greetings-mob" height="150" width="150" src="/speedrun/img/blocks/computer.png" />
    <h1 class="display-4">Server Config</h1>
    <p class="lead">As long as nothing lights up red, I guess it's working.</p>
</div>

<div class="row">
    <div class="col">
        @await Html.PartialAsync("_ServerPropertiesCard", Model.ServerProperties)
    </div>

    <div class="col">
        @await Html.PartialAsync("_OperatorsCard", Model.Operators)
        @await Html.PartialAsync("_WhitelistedPlayersCard", Model.WhitelistedPlayers)
    </div>
</div>

