@using TheFipster.Minecraft.Speedrun.Domain
@model RunDetailViewModel

<div class="card border-secondary">
    <div class="card-header"><h2>Quickest Advancements</h2></div>
    <div class="card-body">
        <ul class="list-group">
            @foreach (var advancement in Model.FirstAdvancement.OrderBy(x => x.Time))
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        @if (Model.Run.Timings.StartedOn.HasValue)
                        {
                            @(advancement.Time - Model.Run.Timings.StartedOn.Value)
                        }
                        else
                        {
                            @advancement.Time.ToString("HH:mm:ss")
                        }
                    </span>
                    <span>@advancement.Name</span>
                    <img class="avatar-small" src="@($"/speedrun/img/players/{advancement.Player.Id}.png")" />
                </li>
            }
        </ul>
    </div>
</div>