@model RunDetailViewModel

<div class="card border-secondary">
    <div class="card-header"><h2>Quickest Advancements</h2></div>
    <div class="card-body">
        <ul class="list-group">
            @foreach (var advancement in Model.FirstAdvancement.OrderBy(x => x.Time))
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        @(advancement.Time - Model.Analytics.Timings.StartedOn)
                    </span>
                    <span>@advancement.Name</span>
                    @await Html.PartialAsync("_PlayerAvatarSmall", advancement.PlayerId)
                </li>
            }
        </ul>
    </div>
</div>