@using TheFipster.Minecraft.Speedrun.Domain
@model RunInfo

<div class="card border-secondary">
    <div class="card-header"><h2>Dimensions</h2></div>
    <div class="card-body">
        <ul class="list-group">
            @foreach (var dimension in Model.World.Dimensions.OrderBy(x => x.Name))
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>@dimension.Name</span>
                    <span>@Math.Round(dimension.Size / 1024.0 / 1024.0, 1) MB</span>
                </li>
            }
        </ul>
    </div>
</div>