@using TheFipster.Minecraft.Enhancer.Domain
@model RunEvent

<tr>
    <td>
        @Model.Timestamp.ToString("HH:mm:ss")
    </td>
    <td>
        @Model.Type
    </td>
    <td>
        @Model.Value
    </td>
    <td>
        @if (!string.IsNullOrWhiteSpace(Model.PlayerId))
        {
            @await Html.PartialAsync("_PlayerAvatarSmall", Model.PlayerId)
        }
    </td>
</tr>