@model RunDetailViewModel
@{
    ViewData["Title"] = $"Run #{Model.Analytics.Index}";
}

<div class="row">
    <div class="col">
        <h1>
            Run
            @(Model.Analytics.Index != 0 ? $"#{Model.Analytics.Index}" : string.Empty)
            <small>
                played on
                @Model.Analytics.Timings.StartedOn.ToLocalTime().AddHours(1).ToString("dd. MMM yyyy at HH:mm")
            </small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_InfoCard", Model)
            </div>
        </div>
        @if (Model.Analytics.Timings != null && Model.Analytics.Timings.Events.Any())
        {
            <div class="row">
                <div class="col">
                    @await Html.PartialAsync("_TimingsCard", Model.Analytics.Timings)
                </div>
            </div>
        }
        @if (Model.Analytics.Dimensions != null && Model.Analytics.Dimensions.Any())
        {
            <div class="row">
                <div class="col">
                    @await Html.PartialAsync("_DimensionsCard", Model.Analytics)

                </div>
            </div>
        }
    </div>
    @if (Model.FirstAdvancement.Any())
    {
        <div class="col-sm-12 col-md-6">
            @await Html.PartialAsync("_AdvancementCard", Model)
        </div>
    }
</div>

@if (Model.Analytics.Players.Any())
{
    <div class="row">
        @foreach (var player in Model.Analytics.Players.OrderBy(x => x.Name))
        {

            <div class="col-sm-12 col-md-6">
                @await Html.PartialAsync("_PlayerCard", Model, new ViewDataDictionary(ViewData) { { "Player", player } })
            </div>
        }
    </div>
}

@if (Model.Import.Events != null && Model.Import.Events.Any())
{

    <div class="row">
        <div class="col">
            <div class="card border-secondary">
                <div class="card-header"><h2>Raw Events</h2></div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tbody>
                            @foreach (var gameEvent in Model.Import.Events.OrderBy(x => x.Timestamp))
                            {
                                @await Html.PartialAsync("_EventLine", gameEvent)
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

