@model RunDetailViewModel
@{
    ViewData["Title"] = $"Run #{Model.Run.Index}";
}

<div class="row">
    <div class="col">
        <h1>
            Run
            @(Model.Run.Index != 0 ? $"#{Model.Run.Index}" : string.Empty)
            <small>
                played on
                @Model.Run.World.CreatedOn.ToLocalTime().AddHours(1).ToString("dd. MMM yyyy")
                at
                @Model.Run.World.CreatedOn.ToLocalTime().AddHours(1).ToString("HH:mm")
            </small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("_InfoCard", Model)
            </div>
        </div>
        @if (Model.Timings != null && Model.Timings.Events.Any())
        {
            <div class="row">
                <div class="col">
                    @await Html.PartialAsync("_TimingsCard", Model.Timings)
                </div>
            </div>
        }
        @if (Model.Run.World.Dimensions != null && Model.Run.World.Dimensions.Any())
        {
            <div class="row">
                <div class="col">
                    @await Html.PartialAsync("_DimensionsCard", Model.Run)

                </div>
            </div>
        }
    </div>
    @if (Model.FirstAdvancement.Any())
    {
        <div class="col-sm-12 col-md-6">
            @await Html.PartialAsync("_AdvancementCard", Model)
        </div>
    }
</div>

@if (Model.Run.Players.Any())
{
    <div class="row">
        @foreach (var player in Model.Run.Players.OrderBy(x => x.Name))
        {

            <div class="col-sm-12 col-md-6">
                @await Html.PartialAsync("_PlayerCard", Model, new ViewDataDictionary(ViewData) { { "Player", player } })
            </div>
        }
    </div>
}

@if (Model.Run.Events != null && Model.Run.Events.Any())
{

    <div class="row">
        <div class="col">
            <div class="card border-secondary">
                <div class="card-header"><h2>Raw Events</h2></div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tbody>
                            @foreach (var gameEvent in Model.Run.Events.OrderBy(x => x.Timestamp))
                            {
                                @await Html.PartialAsync("_EventLine", gameEvent)
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

