@model RunListViewModel
@{
    ViewData["Title"] = "Runs";
    int count = Model.Runs.Count();
}

<div class="row">
    <div class="col">
        <h1>Just Everything</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="btn-group" role="group">
            <a class="btn btn-secondary" asp-controller="Runs" asp-action="Index">Finished</a>
            <a class="btn btn-secondary" asp-controller="Runs" asp-action="Started">All Started</a>
            <a class="btn btn-secondary" asp-controller="Runs" asp-action="All">and discards</a>
            <a class="btn btn-primary">and all else</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-hover">
            <tbody>
                @foreach (var run in Model.Runs.OrderByDescending(x => x.Timings.StartedOn))
                {
                    @await Html.PartialAsync("_LineRun", run);
                }
            </tbody>
        </table>
    </div>
</div>
