@model RunListViewModel
@{
    ViewData["Title"] = "Runs";
    int count = 1;
}

<div class="row">
    <div class="col">
        <h1>Finished Runs</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="btn-group" role="group">
            <a class="btn btn-primary">Finished</a>
            <a class="btn btn-secondary" asp-controller="Runs" asp-action="Started">All Started</a>
            <a class="btn btn-secondary" asp-controller="Runs" asp-action="All">and discards</a>
            <a class="btn btn-secondary" asp-controller="Runs" asp-action="Garbage">and all else</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-hover">
            <tbody>
                @foreach (var timing in Model.Timings.OrderBy(x => x.RunTime))
                {
                    var run = Model.Runs.First(x => x.World.Name == timing.Worldname);
                    @await Html.PartialAsync("_LineFinished", run, new ViewDataDictionary(ViewData) { { "Count", count++ }, { "Timing", timing } });
                }
            </tbody>
        </table>
    </div>
</div>
