@model WorldIndexViewModel
@{
    ViewData["Title"] = "Worlds";
}

<h1>Worlds</h1>

@foreach (var world in Model.Worlds)
{
    <div>
        <h2>
            @world.CreatedOn.ToString("dd.MM.yyyy hh:mm:ss")
            <small>
                <a asp-controller="world" asp-action="detail" asp-route-timestamp="@world.Name">Details</a>
            </small>
        </h2>
        @foreach (var line in world.Logs)
        {
            <span>@line.Message</span><br />
        }
    </div>
}