@model WorldIndexViewModel
@{
    ViewData["Title"] = "Worlds";
}

<h1>Worlds</h1>

@foreach (var world in Model.Worlds)
{
    <div><a asp-controller="world" asp-action="detail" asp-route-timestamp="1234">@world.CreatedOn</a> (@world.Logs.Count() | @(world.Logs.Max(x => x.Timestamp) - world.Logs.Min(x => x.Timestamp)))</div>
}