@{
    ViewData["Title"] = "Admin";
}

<div class="jumbotron text-center">

    <img class="rounded greetings-mob" height="150" width="150" src="/speedrun/img/blocks/crafting_table.png" />
    <h1 class="display-4">Crafting area</h1>
    <p class="lead">Here you can perform actions thats can break the system if you don't know what you are doing.</p>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Re-Index</h5>
                <p class="card-text">Iterates through every run in the database and checks if the run index is correct. If not it gets corrected.</p>
                <a asp-controller="Admin" asp-action="ReIndex" class="btn btn-primary">Re-Index ALL Runs</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Re-Analyze</h5>
                <p class="card-text">Iterates through every run in the database and analyses it. The results will overwrite the current analysis if one is stored.</p>
                <a asp-controller="Admin" asp-action="ReAnalyze" class="btn btn-primary">Re-Analyze ALL Runs</a>
            </div>
        </div>
    </div>
</div>