html {
    overflow-y: scroll;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.3rem;
    margin-bottom: 0;
}

h3 {
    font-size: 1.1rem;
}

.app {
    margin-top: 100px;
}

.navbar {
    background-color: #222;
    padding: 10px;
}

.run-box {
    margin: 10px;
    padding: 10px;
    border: 1px solid #333;
}

.log-list {
    list-style: none;
    list-style-type: none;
}

.row, .card, .list-group {
    margin-bottom: 20px;
}

.avatar-small {
    height: 16px;
    width: 16px;
}

a, a:visited {
    color: #adb5bd;
    font-weight: 600;
}

    a:hover, a:active {
        color: #3498db;
        font-weight: 600;
    }

.navbar-brand img {
    margin-right: 15px;
}

.greetings-mob {
    margin-bottom: 20px;
}

.subsplit-icon {
    margin-right: 10px;
}

.w-33 {
    width: 33% !important;
}

.help-bubble {
    margin-left: 5px;
}

.form-control-plaintext {
    border: 1px solid #adb5bd !important;
    padding: 5px;
}

.player-head {
    margin-bottom: 20px;
}

@media (min-width: 576px) {
    #Heatmap svg {
        transform-origin: top left;
        transform: scale(0.7);
    }
}

@media (min-width: 768px) {
    #Heatmap svg {
        transform-origin: top left;
        transform: scale(0.9);
    }
}

@media (min-width: 992px) {
    #Heatmap {
        height: 140px;
    }

    
    #Heatmap svg {
        transform-origin: top left;
        transform: scale(1.2);
    }
}

@media (min-width: 1200px) {
    #Heatmap{
        height: 180px;
    }

    #Heatmap svg {
        transform-origin: top left;
        transform: scale(1.5);
    }
}

.pad-top {
    padding-top: 20px;
}