<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Christian Speedrunning</title>
    <link rel="stylesheet" href="~/lib/darkly/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/github-calendar-heatmap/css/calendar_yearview_blocks.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
    <script src="https://kit.fontawesome.com/2e8f3797c1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md fixed-top navbar-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="/speedrun/img/logo.png" width="30" height="30">
                    Christian Speedrunning
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Runs" asp-action="Index">Runs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Stats" asp-action="Index">Stats</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Admin" asp-action="Index">Operations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Server" asp-action="Index">Server</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Import" asp-action="Index">Sync</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav text-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @($"v {System.Reflection.Assembly.GetEntryAssembly().GetName().Version.Major}.{System.Reflection.Assembly.GetEntryAssembly().GetName().Version.Minor}.{System.Reflection.Assembly.GetEntryAssembly().GetName().Version.Build}")
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="https://github.com/thefipster/minecraft-gatherer/releases" target="_blank">See what's new</a>
                                <a class="dropdown-item" href="https://github.com/thefipster/minecraft-gatherer/issues/new" target="_blank">File an issue</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container app">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-timeago/jquery.timeago.js"></script>
    <script src="~/lib/github-calendar-heatmap/js/calendar_yearview_blocks.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("time.timeago").timeago();
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
