<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Christian Speedrunning</title>
    <link rel="stylesheet" href="~/lib/darkly/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/github-calendar-heatmap/css/calendar_yearview_blocks.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
    <script src="https://kit.fontawesome.com/2e8f3797c1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        @await Html.PartialAsync("_NavBar");
    </header>
    <div class="container app">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-timeago/jquery.timeago.js"></script>
    <script src="~/lib/github-calendar-heatmap/js/calendar_yearview_blocks.js"></script>
    <script src="~/lib/Chart.js/Chart.min.js"></script>
    <script src="~/lib/plotly.js/plotly.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("time.timeago").timeago();
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
