<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Christian Speedrunning</title>
    <link rel="stylesheet" href="~/lib/darkly/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body>
    <header>
        @await Html.PartialAsync("_TitleBar");
    </header>
    <div class="container app">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
