@using TheFipster.Minecraft.Speedrun.Domain
@model Outcomes
@{
    var badgeClass = string.Empty;
    switch (Model)
    {
        case Outcomes.Finished:
            {
                badgeClass = "badge-success";
                break;
            }
        case Outcomes.ResetEnd:
            {
                badgeClass = "badge-secondary";
                break;
            }
        case Outcomes.ResetStronghold:
            {
                badgeClass = "badge-primary";
                break;
            }
        case Outcomes.ResetSearch:
            {
                badgeClass = "badge-warning";
                break;
            }
        case Outcomes.ResetNether:
            {
                badgeClass = "badge-danger";
                break;
            }
        case Outcomes.ResetSpawn:
            {
                badgeClass = "badge-light";
                break;
            }
    }
}

<span class="badge @badgeClass">@Model</span>
