<nav class="navbar navbar-expand-md navbar-toggleable-md fixed-top navbar-dark border-bottom box-shadow mb-3">
    <div class="container d-flex justify-content-center">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <img src="/speedrun/img/logo.png" width="30" height="30">
            Christian Speedrunning
        </a>
    </div>
</nav>